/***************************************************

Main Site Formating

***************************************************/
body, html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 100%;
  background: url(../img/bg.png);
  font-size: 14px; }

h1, h2, h3, h4 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 500; }

ul {
  margin: 0 0 0 1em; }
  ul li {
    margin-bottom: .5em; }

a, a:visited, a:hover {
  color: #f8b332; }

.img-responsive {
  width: 100%; }

.clear {
  clear: both; }

.bold {
  font-weight: 700; }

.orange-button, #tribe-events .tribe-events-button {
  background: rgba(248, 179, 50, 0.9);
  font-size: 1.3em;
  font-weight: 100;
  padding: 12px 15px 14px;
  letter-spacing: 3px; }
  .orange-button i, #tribe-events .tribe-events-button i {
    font-size: 1.5em;
    line-height: 1; }
  .orange-button:hover, #tribe-events .tribe-events-button:hover {
    box-shadow: none;
    border: 0;
    background: #f8b332;
    color: #FFF; }

#tribe-events .tribe-events-button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px; }

.orange-button, .second-button, .tribe-events-sub-nav .tribe-events-nav-previous, .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events .tribe-events-button {
  color: #FFF;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.second-button, .tribe-events-sub-nav .tribe-events-nav-previous, .tribe-events-sub-nav .tribe-events-nav-next {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 8px;
  letter-spacing: 1px;
  border-bottom: 4px #f8b332 solid; }
  .second-button i, .tribe-events-sub-nav .tribe-events-nav-previous i, .tribe-events-sub-nav .tribe-events-nav-next i {
    color: #f8b332;
    padding-left: 5px; }
  .second-button:hover, .tribe-events-sub-nav .tribe-events-nav-previous:hover, .tribe-events-sub-nav .tribe-events-nav-next:hover {
    box-shadow: none;
    background: transparent;
    border-bottom: 4px #f8b332 solid; }

.tribe-events-sub-nav .tribe-events-nav-previous a, .tribe-events-sub-nav .tribe-events-nav-next a {
  color: #404040; }

a.second-button {
  color: #FFF;
  text-decoration: none; }
  a.second-button i {
    color: #f8b332;
    padding-right: 5px;
    padding-left: 0; }
  a.second-button:hover {
    box-shadow: none;
    background: transparent;
    border-bottom: 4px #f8b332 solid; }
  a.second-button.black-text {
    color: #000; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  top: auto;
  right: 0; }

/* Desktop Navigation */
.main-navigation {
  width: 15%;
  height: 100%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  float: left;
  background-color: #FFF;
  width: 250px; }
  .main-navigation .logo {
    padding: 0 0 20px; }
  .main-navigation .menu-item {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: right;
    		/* &.current_page_item {
    			height: auto;
    			font-weight:700;
    
    			a {
    				margin-bottom: 10px;
    			}
    			
    			.sub-menu {
    				position: inherit;
    				background-color: white;
    				box-shadow: none;
    				top: auto;
    				float: none;
    				display: block;
    				left: auto;
    				right: 0;
    
    				li {
    					margin-bottom: 0;
    
    					a {
    						font-weight: 400;
    						color: #999;
    						width: 100%;
    						font-size: 12px;
    					}
    				}
    			}
    		} */ }
    .main-navigation .menu-item a {
      color: #393939;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 10px; }
      .main-navigation .menu-item a:hover {
        font-weight: 700; }
    .main-navigation .menu-item .sub-menu {
      background-color: #393939;
      box-shadow: none;
      width: 100%;
      padding: 10px 5px 0 5px; }
      .main-navigation .menu-item .sub-menu li {
        margin-bottom: 0; }
        .main-navigation .menu-item .sub-menu li a {
          font-weight: 400;
          color: #fff;
          width: 100%;
          font-size: 12px; }
          .main-navigation .menu-item .sub-menu li a:hover {
            font-weight: 700; }

body.admin-bar .main-navigation {
  top: 28px; }

.site-content {
  min-height: 100%;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 250px; }

/***************************************************

Index Page

***************************************************/
.slider-container, #wdps_container1_0 {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  position: relative; }
  .slider-container .wdps_loading, #wdps_container1_0 .wdps_loading {
    height: 0 !important;
    margin-top: 0 !important; }
    .slider-container .wdps_loading img, #wdps_container1_0 .wdps_loading img {
      display: none; }
  .slider-container #wdps_container2_0 .fa-square-o:before, #wdps_container1_0 #wdps_container2_0 .fa-square-o:before {
    content: none !important; }
  .slider-container #wdps_container2_0 .wdps_slideshow_dots_container_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_dots_container_0 {
    height: 10px; }
  .slider-container #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 {
    margin: 0 !important;
    width: 100% !important; }
    .slider-container #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_active_0, .slider-container #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_deactive_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_active_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_deactive_0 {
      background-image: none;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      width: 33.33%;
      float: left;
      height: 10px;
      margin: 0; }
    .slider-container #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_active_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_dots_thumbnails_0 .wdps_slideshow_dots_active_0 {
      background-color: white; }
  .slider-container #wdps_container2_0 .wdps_slideshow_image_wrap_0, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_wrap_0 {
    max-width: 100% !important; }
  .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span {
    width: 60%;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center !important; }
    .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span h2, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span h2 {
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      font-size: 37px;
      margin-bottom: -10px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      line-height: 1.2; }
    .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span .second-button, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span .second-button {
      padding: 0 0 8px;
      font-family: 'Oswald', sans-serif;
      margin-top: 5px;
      border-bottom: 4px #f8b332 solid;
      font-size: 14px; }
    .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span .date, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span .date {
      font-weight: 300;
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 1.1em; }

a .link-container {
  width: 32%;
  float: left;
  height: 200px;
  background-color: black;
  background: center center;
  background-size: cover;
  text-align: center;
  padding: 30px; }
  a .link-container.center {
    margin: 0 2% 20px 2%; }
  a .link-container h2 {
    margin: 0;
    font-size: 2em;
    color: #FFF; }
  a .link-container p {
    font-weight: 300;
    font-style: italic;
    color: #dcd9d9;
    margin: 0 0 15px; }

.description-container {
  width: 100%;
  background: center center;
  background-size: cover;
  height: 400px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .description-container .description-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0;
    width: 60%; }
    .description-container .description-content .desc {
      font-size: 1.8em;
      font-weight: 700;
      color: #FFF;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 25px; }

/***************************************************

Page Template

***************************************************/
.content-container {
  background-color: white;
  padding: 20px; }
  .content-container.category-page {
    background-color: transparent;
    padding: 0px; }
  .content-container .entry-title {
    margin: 0; }
  .content-container .entry-content {
    margin: 0; }

/* Events styles */
.events-archive .entry-content, .events-archive .entry-header {
  width: 100%; }

.single-tribe_events .tribe-events-cal-links {
  text-align: center; }

#tribe-events-content .tribe-events-tooltip .tribe-events-abbr {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #393939;
  font-weight: 500; }
#tribe-events-content .tribe-events-tooltip .tribe-events-event-thumb {
  display: none; }
#tribe-events-content .tribe-events-tooltip h4 {
  color: #404040; }

.events-list .tribe-events-loop {
  max-width: none; }

.tribe-events-list .tribe-events-venue-details {
  display: none; }

.single-tribe_events .tribe-events-single-event-title {
  font-size: 2em;
  margin-bottom: 0; }
.single-tribe_events .tribe-events-event-image {
  height: 250px;
  overflow: hidden; }
.single-tribe_events .tribe-events-button {
  border-radius: 0 !important;
  background-color: #f8b332 !important;
  font-size: 1em !important;
  padding: 10px 15px 11px !important;
  text-shadow: none !important; }

.tribe-events-schedule {
  margin: 0 0 1.5em; }
  .tribe-events-schedule h2 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0; }

.row {
  width: 100%;
  clear: both;
  display: table; }

.list {
  margin-top: 25px; }
  .list a {
    text-decoration: none;
    color: #404040; }
  .list .item {
    border-bottom: 1px #b1aeae solid;
    background: #f5f4f4;
    padding: 15px; }
    .list .item img {
      float: left;
      width: 100px;
      clear: both;
      margin: 0 10px 10px 0;
      background: white;
      padding: 5px;
      border-radius: 500px;
      border: 1px #b1aeae solid; }
    .list .item h2 {
      clear: none;
      margin-bottom: 5px;
      margin-top: 0; }
    .list .item .item-footer {
      display: block;
      width: 100%;
      height: 43px;
      padding: 15px 0 0 0; }
      .list .item .item-footer button {
        float: right;
        color: #404040; }
  .list.about-team h2 {
    margin-bottom: 0; }
  .list.about-team h3 {
    clear: none;
    font-weight: 300;
    font-style: italic;
    color: #929191;
    margin: 0 0 5px; }
  .list.about-team .quote {
    margin: 25px 0 0 0;
    font-size: 1.3em;
    color: #000;
    text-align: left;
    border-left: 10px solid #f8b332;
    padding: 0 15px;
    font-family: 'Oswald', sans-serif; }
    .list.about-team .quote .author {
      font-weight: 300;
      font-style: italic;
      color: #929191;
      margin: 0 0 5px;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-size: .9em;
      margin-top: 5px; }

.col-50 {
  width: 48%;
  margin: 1%;
  float: left;
  display: inline-block; }

.image-left {
  width: 30%;
  float: left;
  clear: both;
  margin: 0 10px 10px 0; }

.map-responsive {
  max-width: 100%;
  margin: 0;
  height: 400px;
  margin-top: 20px; }
  .map-responsive iframe {
    width: 100%;
    height: 400px; }

/***************************************************

Posts

***************************************************/
/*.post:nth-child(even) {
	.entry-image {
		padding-right:0;
		padding-left:20px;
	}
}*/
.post-container .entry-image {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  height: 250px; }
  .post-container .entry-image img {
    width: 100%;
    max-width: none;
    min-height: 250px; }
.post-container .navigation {
  display: none; }

.post-custom {
  position: relative;
  height: 250px;
  margin-bottom: 20px; }
  .post-custom .entry-side {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 250px; }
    .post-custom .entry-side .entry-header {
      width: 60%;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      position: absolute;
      text-align: center; }
      .post-custom .entry-side .entry-header .entry-title {
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        .post-custom .entry-side .entry-header .entry-title a {
          color: #FFF;
          text-decoration: none;
          font-size: 1.6em; }
  .post-custom .entry-image {
    width: 100%;
    overflow: hidden;
    height: 250px; }
    .post-custom .entry-image img {
      width: 100%;
      max-width: none;
      min-height: 250px; }

/***************************************************

Smaller Devices

***************************************************/
@media only screen and (min-width: 992px) {
  .main-navigation ul {
    display: block; }

  .menu-toggle {
    display: none; } }
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  a .link-container {
    padding: 20px 8px; }
    a .link-container h2 {
      font-size: 1.5em; }

  .description-container .description-content {
    width: 90%; } }
@media only screen and (max-width: 992px) {
  body.admin-bar .main-navigation {
    top: 32px; }

  .menu-toggle {
    display: block;
    float: right; }

  .site-content {
    left: 0;
    width: 100%; }

  .main-navigation ul {
    display: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .main-navigation ul a {
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }

  .mobile-header {
    width: 100%;
    height: 60px;
    z-index: 2;
    padding: 0;
    background-color: white; }
    .mobile-header .logo {
      width: 60px;
      padding: 0;
      float: left; }
    .mobile-header .menu-item {
      padding-bottom: 20px;
      display: block;
      width: 100%;
      text-align: center;
      background-color: #FFF;
      margin-bottom: 0;
      margin-top: -2px; }

  .main-navigation {
    width: 100%;
    height: 72px;
    z-index: 1;
    padding: 0; }
    .main-navigation .menu-toggle {
      border: 0;
      background: transparent;
      box-shadow: none;
      margin: 0px 20px 0px 20px;
      height: 72px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-size: 1.5em;
      line-height: 1;
      padding: 0;
      font-weight: 800;
      letter-spacing: 1px;
      color: #d5d5d5; }
    .main-navigation .logo {
      width: 60px;
      padding: 0;
      float: left;
      margin: 5px 5px 5px 20px; }
    .main-navigation .menu-item {
      display: block;
      width: 100%;
      text-align: center;
      background-color: #838383;
      margin-bottom: 0;
      margin-top: 0px;
      border-bottom: 1px #b6b6b6 dotted; }
      .main-navigation .menu-item a, .main-navigation .menu-item.current_page_item a {
        color: #FFF;
        margin-bottom: 0;
        padding: 15px; }
      .main-navigation .menu-item.current-menu-item .sub-menu {
        display: block;
        padding: 0;
        top: auto;
        left: 0;
        position: relative; }
      .main-navigation .menu-item .sub-menu {
        display: none; }
        .main-navigation .menu-item .sub-menu li {
          background-color: #656565;
          border-bottom: none; }
          .main-navigation .menu-item .sub-menu li a {
            color: #cdcdcd; }
    .main-navigation .menu-menu-container {
      max-height: 0;
      top: 71px;
      width: 100%;
      position: absolute;
      overflow: hidden;
      -webkit-transition: max-height 0.8s;
      -moz-transition: max-height 0.8s;
      transition: max-height 0.8s; }
      .main-navigation .menu-menu-container.toggled {
        max-height: inherit; }

  .site-content {
    float: initial;
    width: 100%;
    margin-top: 72px;
    padding: 20px; }

  	/***************************************************
  
  	Index Page
  
  	***************************************************/
  a .link-container {
    width: 100%;
    margin: 0 0 20px; }
    a .link-container.center {
      margin: 0 0 20px 0; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .description-container .description-content {
    width: 80%; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .description-container .description-content {
    width: 80%; }
    .description-container .description-content .desc {
      font-size: 1.6em; }
    .description-container .description-content .orange-button {
      font-size: 1.1em; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) and (min-width: 321px) {
  .description-container .description-content {
    width: 80%; }
    .description-container .description-content .desc {
      font-size: 1.3em; }
    .description-container .description-content .orange-button {
      font-size: 1em; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .description-container .description-content {
    width: 80%; }
    .description-container .description-content .desc {
      font-size: 1.1em; }
    .description-container .description-content .orange-button {
      font-size: 1em; } }
/* WP Admin Bar Fix */
@media screen and (max-width: 782px) {
  body.admin-bar .main-navigation {
    top: 46px; }

  #wpadminbar {
    position: fixed !important; }

  .post-custom .entry-header {
    width: 80% !important; }
    .post-custom .entry-header .entry-title a {
      font-size: 1.2em !important; }

  .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span {
    width: 80%; }
    .slider-container #wdps_container2_0 .wdps_slideshow_image_0 span h2, #wdps_container1_0 #wdps_container2_0 .wdps_slideshow_image_0 span h2 {
      font-size: 26px;
      line-height: 1.3; } }

/*# sourceMappingURL=styles.css.map */
